includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    parallel:
        maximumNumberOfProcesses: 2
        jobSize: 2
    treatPhpDocTypesAsCertain: false
    ignoreErrors: []
