<h1>{{ 'email.recovery_code_used.title'|trans }}</h1>
<p>{{ 'emails.greeting'|trans({'%name%': user.getFullName()}) }}</p>
<p>{{ 'email.recovery_code_used.body'|trans }}</p>
<p>{{ 'email.recovery_code_used.action_if_you'|trans }}</p>
<hr>
<p>APU System</p>
