{% extends 'base.html.twig' %}
{% block title %}Nuevo Transporte{% endblock %}
{% block body %}
{% import 'partials/_button.html.twig' as btn %}
<div class="container-fluid mt-4">
    <h1>Nuevo Transporte</h1>
    <form method="POST" action="{{ path('catalog_transport_create') }}">
        <input type="hidden" name="_token" value="{{ csrf_token('transport_create') }}">
        <div class="mb-3">
            <label class="form-label">Código</label>
            <input class="form-control" name="code" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" name="name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Unidad</label>
            <input class="form-control" name="unit">
        </div>
        {{ btn.button('Guardar', 'primary', 'bi-save', {'type':'submit'}) }}
    </form>
</div>
{% endblock %}
